boto3==1.10.28
botocore==1.13.28
certifi==2020.4.5.1
gem==1.0.0
joblib==0.14.1
Keras==2.0.2
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.22.0
olefile==0.46
pandas==1.0.3
Pillow==7.0.0
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.2.1
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
Theano==1.0.2
torch==1.5.0
torchvision==0.6.0a0+82fd1c8
